 #profile td {
        padding: 3px;
    }
    #profile button {
        width: 46px;
        text-align: center;
    }
    #recipListContainer {
        margin-top: 10px;
    	height: 300px;
        width: 190px;
        border: 1px solid #eee;
    	overflow: auto;
    }
    #recipListContainer table{
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }
    #weekList {
        margin-top: 10px;
        height: 550px;
    	overflow: auto;
    }
    #weekList li {
        height: 160px;
    }
    .axis text {
      font: 8px sans-serif;
    }
    .axis path,
    .axis line{
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .bar:hover {
        fill: #d9534f;
    }