.navbar {
    margin-bottom: 10px;
}
#profile td {
    padding: 3px;
}
#profile button {
    width: 46px;
    text-align: center;
}
#recipListContainer {
	height: 550px;
    border: 1px solid #eee;
	overflow: auto;
}
#recipListContainer table{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
#weekList {
    height: 550px;
	overflow: auto;
}
#weekList li {
    height: 120px;
}
.axis text {
  font: 9px sans-serif;
}
.axis path,
.axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar:hover {
    fill: #d9534f;
}
.list-group-item {
    padding: 8px;
}